* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: "Darker Grotesque", sans-serif;
  color: rgb(246, 255, 253);
  font-size: 30px;
  background-color: #0d1b2a;
  padding: 15px;
}

h1 {
  font-size: 100px;
  text-align: center;
  line-height: 70%;
}

.text-glow {
  color: #0fa; /* The color of the text */
  text-shadow: 0 0 20px rgb(44, 112, 121);
}

/* Classes */

.game-container {
  padding: 1 px;

  text-transform: uppercase;
  width: 503px;
}

.game-panel {
  border: 2px solid rgb(157, 197, 199);
  background-color: #0d1b2a;
  padding-top: 15px;
  border-radius: 30px;
  margin-bottom: 5px;
}

.game-board {
  position: relative;
  border: 2px solid #014f86;
  border-radius: 5px;
}

.score,
.health {
  font-size: 32px;
  display: flex;
  line-height: 0;
  margin: 5%;
  padding-top: 10px;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}

.cell {
  border: 1px solid #2f72a1;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.cell-bomb {
  background-image: url("./images/bomb.png");
  background-size: contain;
}

.end-game-screen {
  position: absolute;
  inset: 0;
  background-color: rgba(44, 2, 16, 0.8);
  color: rgb(231, 91, 81);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.end-game-text {
  font-size: 48px;
  text-transform: uppercase;
  font-family: "Press Start 2P";

  animation-name: fade-pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes fade-pulse {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  70% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.btn {
  padding: 4px 20px 8px 20px;
  margin-top: 10px;
  border-radius: 75px;
  font-size: 20px;
  font-family: "Darker Grotesque", sans-serif;
  cursor: pointer;
  color: black;
  text-transform: uppercase;
  border: 2px solid rgb(0, 177, 200);
  background-color: rgb(179, 241, 155);
}

.btn:hover {
  background-color: rgb(152, 216, 4);
  color: black;
}

.hidden {
  display: none;
}

.cell-clicked {
  background-color: rgb(119, 223, 98);
  cursor: not-allowed;
}

.cell-clicked-bomb {
  background-color: rgb(226, 29, 29);
  cursor: not-allowed;
}

.win {
  background-color: rgba(7, 0, 4, 0.9);
  color: rgb(4, 255, 100);
}

.health-counter,
.score-counter {
  transition: color 0.5s, transform 0.5s;
  text-align: right;
  margin-left: auto;
}
