* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Darker Grotesque";
}

.game-container {
  width: 484px;
}

.game-panel {
  background-color: blueviolet;
}

.game-board {
  border: 2px solid rgb(0, 23, 50);
  position: relative;
}

h1 {
  font-size: 40px;
}

.score {
  font-size: 32px;
  display: flex;
  justify-content: space-between;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid black;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.end-game-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(241, 117, 78, 0.7);

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.end-game-text {
  font-size: 48px;
  text-transform: uppercase;
  font-family: "Press Start 2P";
}

.btn {
  font-size: 24px;
  font-family: "Darker Grotesque";
  padding: 4px 20px 8px 20px;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid rgb(0, 23, 50);
}
