* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: "Darker Grotesque";
  color: rgb(225, 235, 235);
  font-size: 30px;
  background-color: rgb(1, 25, 22);
  padding: 16px;
}

h1 {
  font-size: 100px;
  text-align: center;
}

/* Classes */

.game-container {
  padding: px;
  background-color: rgb(1, 25, 22);
  text-transform: uppercase;
  width: 484px;
}
1,
25,
22 .game-panel {
}

.game-board {
  position: relative;
  border: 2px solid rgb(200, 0, 200);
  border-radius: 5px;
}

.score {
  font-size: 32px;
  display: flex;
  justify-content: space-between;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid rgb(200, 0, 200);
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.end-game-screen {
  position: absolute;
  inset: 0;
  background-color: rgba(7, 0, 4, 0.9);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 300px;
  margin: 20px 5px 20px 5px;
}

.end-game-text {
  font-size: 48px;
  text-transform: uppercase;
  font-family: "Press Start 2P";
}

.btn {
  padding: 4px 20px 8px 20px;
  border-radius: 100px;
  font-size: 15px;
  font-family: "Darker Grotesque";
  color: black;
  text-transform: uppercase;
  border: 2px solid rgb(200, 0, 200);
}

.btn:hover {
  background-color: rgb(7, 0, 4);
  color: rgb(225, 235, 235);
}

.hidden {
  display: none;
}
